<header>
	<nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<a class="nav-link" id="nav-home-tab" data-bs-toggle="tab" [routerLink]="['/contacts']" type="button" role="tab" aria-controls="nav-home">Home
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 2 16 16">
					<path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
				</svg>
			</a>
			<a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" [routerLink]="['/profile']" type="button" role="tab" aria-controls="nav-profile">Profile
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 2 16 16">
					<path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
				</svg>
			</a>
			<button class="nav-link ms-auto" (click)="onLogout()">Logout</button>
		</div>
	</nav>
</header>
<div class="container mt-5">
	<div class="row">
		<div class="col-4">
			<div class="d-flex align-items-left justify-content-between mb-4">
				<h3>Contatos</h3>
				<hr>
				<a class="btn btn-primary me-2" [routerLink]="['/contacts/new']">Novo Contato</a>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th scope="col"></th>
						<th scope="col">Nome</th>
						<th scope="col">Telefone</th>
						<th scope="col">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let contact of contacts">
						<td><input class="form-check-input" type="radio" name="flexRadio" (click)="addPin(contact)"></td>
						<td>{{contact.name}}</td>
						<td>{{contact.phone}}</td>
						<td>
							<a class="btn btn-light me-2" [routerLink]="['/contacts/edit/', contact.id]">Editar</a>
							<button class="btn btn-danger" (click)="onDelete(contact.id)">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
									<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
									<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
								</svg>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="container col-8">
			<google-map [options]="options" width="100%" height="150%" [center]="center">
				<map-marker [position]="markerPosition"></map-marker>
			</google-map>
		</div>
	</div>
</div>