<section class="" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Cadastro</h3>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="form-outline mb-4">
                <label class="form-label">Nome</label>
                <input type="text" class="form-control form-control-lg" formControlName="name" />
                <div class="text-danger" *ngIf="registerForm.get('name')?.invalid && registerForm?.get('name')?.touched">Nome obrigatório</div>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">Email</label>
                <input type="email" class="form-control form-control-lg" formControlName="email" />
                <div class="text-danger" *ngIf="registerForm.get('email')?.invalid && registerForm?.get('email')?.touched">Email obrigatório</div>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">Senha</label>
                <input type="password" class="form-control form-control-lg" formControlName="password" />
                <div class="text-danger" *ngIf="registerForm.get('password')?.invalid && registerForm?.get('password')?.touched">Senha obrigatória</div>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">Confirmação da senha</label>
                <input type="password" class="form-control form-control-lg" formControlName="password_confirmation" />
                <div class="text-danger" *ngIf="registerForm.get('password_confirmation')?.invalid && registerForm?.get('password_confirmation')?.touched">Confirmação da senha obrigatória</div>
              </div>
              <div>
                <a class="btn btn-primary btn-lg me-3" [routerLink]="['/']">Voltar</a>
                <button [disabled]="registerForm.invalid" class="btn btn-primary btn-lg btn-block w-50" type="submit">Registre-se</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>